<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.groupwork.Mapper.OrderMapper">
    <resultMap id="AddressResult" type="com.groupwork.Model.Address">
        <id column="id" property="Id"/>
        <result column="street" property="Street"/>
        <result column="street2" property="Street2"/>
        <result column="city" property="City"/>
        <result column="state" property="State"/>
        <result column="zipcode" property="Zipcode"/>
    </resultMap>

    <resultMap id="OrderResult" type="com.groupwork.Model.Order">
        <id column="id" property="Id" jdbcType="VARCHAR"/>
        <result column="date" property="Date" jdbcType="DATE"/>
        <result column="order_price" property="OrderPrice" jdbcType="FLOAT"/>
        <association property="User" javaType="com.groupwork.Model.UserGeneral">
            <id column="user_id" property="Id" jdbcType="VARCHAR"/>
        </association>
        <association property="ShippingAddress" resultMap="AddressResult"/>

        <collection property="OrderDetails" ofType="com.groupwork.Model.OrderDetail">
            <id column="order_detail_id" property="Id" jdbcType="VARCHAR"/>
            <result column="book_amount" property="BookAmount"/>
            <association property="Book" javaType="com.groupwork.Model.Book">
                <id column="book_id" property="Id" jdbcType="INTEGER"/>
                <result column="name" property="Name"/>
                <result column="pic_link" property="PicUrl"/>
            </association>
        </collection>
    </resultMap>

    <select id="getAllOrdersByEmail" parameterType="java.lang.String">
        SELECT orders.id, date, order_price ,user_id,order_detail_id,book_amount,book_id,name,pic_link
        FROM orders ,order_detail, user_security
        WHERE user_security.email = #{Email} AND orders.user_id = user_security.user_id AND orders.order_detail_id = order_detail.id
    </select>

    <insert id="insertOrder">
        INSERT orders(id,order_detail_id,shipping_address_id,billing_address_id,order_date,order_price,payment_id,user_id)
        VALUES (#{OrderId},#{OrderDetailId},#{ShippingAddressId},#{BillingAddressId},#{Date},#{OrderPrice},#{PaymentId},#{UserId})
    </insert>

    <select id="getTopSellingBook" resultMap="com.groupwork.Mapper.BookMapper.BookIntro">
        SELECT book.id,name,author,new_price, rate, pic_link
        FROM book,order_detail,orders
        WHERE
        <![CDATA[
        CURRENT_DATE -Date(orders.order_date) <= 7
        ]]>
        AND
        book.id = order_detail.book_id AND order_detail.id = orders.order_detail_id
        GROUP BY book.id
        ORDER BY SUM(book_amount) DESC
        LIMIT 5
</select>

    <select id="getPreferenceByGender" resultMap="com.groupwork.Mapper.BookMapper.BookIntro">
        SELECT book.id,name,author,new_price, rate, pic_link
        FROM book,order_detail,orders,user_general
        WHERE
        gender=#{Gender} AND
        <![CDATA[
        CURRENT_DATE -Date(orders.order_date) <= 7
        ]]>
        AND book.id = order_detail.book_id AND order_detail.id = orders.order_detail_id AND orders.user_id = user_general.id
        GROUP BY book.id
        ORDER BY SUM(book_amount) DESC
        LIMIT 1
    </select>







    <!--<update id="updateUserPassword" parameterType="com.groupwork.Model.UserSecurity">-->
    <!--UPDATE address SET password = #{Password,jdbcType=VARCHAR} WHERE email = #{Email,jdbcType=VARCHAR}-->
    <!--</update>-->



</mapper>