<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.groupwork.Mapper.AddressMapper">
    <resultMap id="AddressResult" type="com.groupwork.Model.Address">
        <id column="id" property="Id"/>
        <result column="street" property="Street"/>
        <result column="street_2" property="Street2"/>
        <result column="city" property="City"/>
        <result column="state" property="State"/>
        <result column="zipcode" property="Zipcode"/>
    </resultMap>

    <select id="getAddressesByUsername" resultMap="AddressResult" parameterType="java.lang.String">
        SELECT address.*
        FROM address,user_address
        WHERE
        is_in_use=1
        AND id = address_id
        AND user_id=(SELECT user_id FROM user_security WHERE email=#{Email,jdbcType=VARCHAR})
    </select>


    <select id="getAddressById" resultMap="AddressResult" parameterType="java.lang.String">
        SELECT *
        FROM address
        WHERE
        id=#{Id}
    </select>

    <insert id="insertAddress" parameterType="com.groupwork.Model.Address">
        INSERT INTO address(id,street,street_2,city,state,zipcode) VALUES(#{Id},#{Street},#{Street2},#{City},#{State},#{Zipcode})
    </insert>
    <insert id="insertUserAddress">
        INSERT INTO user_address(user_id,address_id) VALUES (#{UserId},#{AddressId})
    </insert>

    <update id="deleteAddress" parameterType="java.lang.String">
        UPDATE user_address SET is_in_use = 0 WHERE address_id = #{AddressId}
    </update>


    <!--<update id="updateUserPassword" parameterType="com.groupwork.Model.UserSecurity">-->
        <!--UPDATE address SET password = #{Password,jdbcType=VARCHAR} WHERE email = #{Email,jdbcType=VARCHAR}-->
    <!--</update>-->



</mapper>